<launch>

    <node pkg="visual_odometry" type="testVRORS2h_2f" name="testVRORS2h" output="screen">
	<param name="FX" value="531.78"/>
	<param name="FY" value="531.78"/>
	<param name="CX" value="320"/>
	<param name="CY" value="240"/>
	<param name="SCALE" value="0.001"/>
	<param name="WIDTH" value="640"/>
	<param name="HEIGHT" value="480"/>

    	<param name="rs_file_dir" value="/home/davidz/work/data/color_StructSensor/shoe_model/2"/>
	<param name="match_from_rgb" value="c_216.png"/>
	<param name="match_from_dpt" value="d_216.png"/>
	
	<param name="match_to_rgb" value="c_784.png"/>
	<param name="match_to_dpt" value="d_784.png"/>

    </node>

</launch>
